<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h.mapper.ForumArticleAttachmentDownloadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.h.entity.po.ForumArticleAttachmentDownload">
        <id column="file_id" property="fileId" />
        <result column="user_id" property="userId" />
        <result column="article_id" property="articleId" />
        <result column="download_count" property="downloadCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        file_id, user_id, article_id, download_count
    </sql>

</mapper>
